body{
  color:rgb(49, 207, 49);
  background-color: black;
  text-align: center;
}

#page1 {
  font-family: Arial, sans-serif;
  margin: 10%;
  padding: 10px;
  border-radius: 5px;
}
#page2{
  display:none;
  .meal-container {
		border: 1px solid rgb(49, 207, 49);;
		padding: 10px;
		margin-bottom: 10px;
    display:inline-block;
    width:500px;
    height:450px;
    
	}
  .meal-container h4{
    font-size:20px;
  }

	.meal-container input[type="number"] {
		writing-mode: vertical-lr;
		text-orientation: upright;
    
	}
  
}
#page3{
  display:none;
  .exercise-container {
		border: 1px solid rgb(49, 207, 49);;
    display:inline-block;
		padding: 10px;
		margin-bottom: 10px;
		width: 400px;
		height: 200px;
		box-sizing: border-box;
	}

	.exercise-container h4 {
		text-align: center;
		margin-top: 0;
	}
}
#lastpage{
  display:none;
}
#lastpage h1{
  font-size:50px;
}
#result{
  margin-top:8%;
  text-align: center;
  font-size:70px;
}
#resultbox{
  text-align: right;
}
.choice{
  width:40px;
}
#exresult{
  margin-top:150px;
  font-size:50px;
  margin-bottom:150px;
}

h3 {
  color: rgb(49, 207, 49);;
  font-size:50px;
}
.box{
  border : 1px solid rgb(49,207,49);
  display:inline-block;
  padding:30px 30px 30px 30px;
}

select, input[type="number"] {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid rgb(49, 207, 49);
  background-color: rgb(49, 207, 49);
  text-align: center;
  size:10px;
  border-radius: 3px;
}

input[type="submit"], input[type="button"] {
  margin-bottom:10px;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover, input[type="button"]:hover {
  background-color: #45a049;
}

input[type="submit"]:active, input[type="button"]:active {
  background-color: #3e8e41;
}

#Dnresult{
  margin-top:10px;
  font-size:20px;
}
#lcresult{
  margin-top:10px;
  font-size:20px;
}
#bfresult{
  margin-top:10px;
  font-size:20px;
}
#lastresult{
  margin-top:30px;
  font-size:30px;
}
#gichoresult, #foodresult, #exerciseresult, #findis{
  
  border : 1px solid rgb(49,207,49);
  display:inline-block;
  width:400px;
  padding:170px 30px 170px 30px;
  margin-top:8%;
  margin-bottom:5%;
  text-align: center;
  font-size:30px;
  

}

#findis{
  color:red;
}
#esc{
  display:flex;
  justify-content: center;
  align-items: center;
}
#esc p{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 50px;
  font-size: 15px;
  color: rgb(49, 207, 49);
  border: 1px solid rgb(49, 207, 49);
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}
#gongji, #back, #kcalge, #memob, #gesip{
  cursor: pointer;
}